
.download_container{display: flex;flex-direction:column;
  width:114rem;height:calc(100vh - 7rem);margin:0 auto;margin-top:7rem;align-items: center;justify-content: center;}
.download_container .wrap{display: flex;flex-direction: column;gap:2rem;}
.download_title{display: flex; align-items: center;gap:0.8rem}
.download_title div img{width:70%;}
.download_list_container{display: flex;flex-direction: column;}
.download_list_wrap{display: flex;flex-direction: column; gap:0.8rem;padding:2rem 0;}
.download_list_wrap .title{margin-right:auto;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  background:  #464555;
  padding: 0.5rem 1.2rem 0.7rem;
  border-radius: 30px;
  font-weight: 400;}
.download_list_radio{display: flex;
  align-items: center;
  gap:4rem;
  font-size:1.4rem;
  background: rgba(178, 177, 199, 0.05);
  padding:2rem 4rem;
  border:1px solid #e0e0e0;
}
.download_list_radio_li{display: flex;align-items: center;gap:0.8rem;}
.operation_list > li,.python_version.download_operation li{padding:0.8rem 2rem;}
.download_list > li.active,
.download_operation .os_list li{
    padding:2rem;
    opacity: 0.3;
}
.os_list{
  display: flex;
  max-width: 80rem;
  gap:4rem;
  font-size:1.4rem;
  padding:2rem 4rem;
  background: rgba(178, 177, 199, 0.05);
  border:1px solid #e0e0e0;
}
.os_list li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}
.download_list_radio_li label{display: flex;gap:0.4rem;align-items: center;}
.intel{display:inline-blocks;background-color: #EAFAFF;color:#18C7FE;font-size:1.3rem;padding:0.4rem 0.8rem 0.6rem;border-radius:30px;;}
.apple_silicon{display:inline-block;background-color:#FFF1E0;color:#FF8A00;font-size:1.3rem;padding:0.4rem 0.8rem 0.6rem;border-radius: 30px;}
.python_version > ul{max-width:80rem;margin:0 auto;margin-top:4rem;display:flex;
    justify-content: space-around;align-items:center;font-size:1.6rem;
  }
  .link_character{width:12%;max-width:20rem;}
  .link_character img{width: 100%;}
  .text_container{display: flex;flex-direction: column;gap:1rem;position: relative;}
  .title{font-size:3.2rem;font-weight:700;text-align:center;position: relative;z-index:10;}
  .blue_box{position: absolute;background: #dee2ff;border-radius:8px; right:22px;top:12px
    ;width:8rem;height: 24px;}
  .text_container .sub_title{font-size:1.4rem;line-height:1.2; color:rgba(70, 69, 85, 0.6);text-align: center;}
  .please_desc{font-size:1.4rem;display: flex;gap:8px;}
  .please_desc a{color:#6C79F9;text-decoration: underline;text-align: center;}
  .login{display: flex;width:60rem;flex-direction: column;align-items: center;margin-top:4vh;}
.login > .title{font-size:2.2rem;font-weight: 700;}
.login .input_container{display:flex;flex-direction: column;gap:2rem; margin-left: 4rem;margin-top:4rem;width: 80%;max-width:440px;}
  .input_div{display: flex;gap:2rem;align-items: center;font-size:1.6rem;}
.input_div input{height:3rem;width:100%;border: 1px solid #e0e0e0;padding-left:8px}
.okay_button{background: #6C79F9;padding:1.2rem 2rem;color:#fff;font-weight:700;
  border:none;border-radius: 30px;font-size:1.4rem;width: 24rem; opacity: 0.4;
}
.okay_button:hover{background: #95A0FF;}
.border_button{border:1px solid #6C79F9;background: #fff;color:#6C79F9;
  padding:1.2rem 2rem;font-weight: 700;border-radius: 30px;width:24rem;}
.forgot_div a{padding:1rem 2rem;color:#6C79F9}
.forgot_div a:hover{cursor: pointer;color:#95A0FF}
/*start for free */
.start_for_free{
  display: flex;
  margin:0 auto;
  margin-top:7rem;
  height: calc(100vh - 7rem);
  align-items: center;
}
.start_for_free .wrap{display:flex;width:92%;
  align-items: center;
  margin:0 auto;
  gap:8rem;;}
.start_visual img{height: 50%;max-height:500px}
.start_input_container{width:100%;display: flex;justify-content: center;}
.start_input{
  display: flex;
  flex-direction: column;
  gap:4rem;
  max-width: 44rem;
  width: 100%;
}
.input_container{
  display: flex;
  flex-direction: column;
}
.input_container{gap:2rem;}
.name_container{
  display: flex;
  gap:2rem;
}
.name_input_contatier{
  display: flex;flex-direction: column;
  width: 50%;
  gap:0.8rem;;
}.email_container{width: 100%;}
.name_input_contatier input,
.email_container input,.job_title_container select,.organaization_container input
{border:none;border-bottom:1px solid #e0e0e0;
  box-sizing: border-box;
  padding:0.4rem 0;
  height:30px;
  outline: none;}
input:focus{
  border-bottom:1px solid #6C79F9;
}
input:invalid{
  border-bottom:1px solid red;
}
.email_container{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
}
.job_title_container{display: flex;
  flex-direction: column;gap:1.2rem}
.email_container input,.job_title_container select.organaization_container input
{width: 100%;
}
.check_container_p{display: flex;flex-direction: column;gap:1.6rem;}
.checkbox_container{display: flex;font-size:1.2rem;opacity:0.6;}
.organaization_container{display: flex;flex-direction: column;gap:0.4rem;}
.input_title{font-size:1.4rem;font-weight: 700;}
.invalid_text{font-size:1.2rem;color:red;visibility: hidden;}
.organaization_example{font-size:1.2rem;opacity: 0.6;margin-left:0.4rem;font-weight: 400;;}
.button_container{display: flex;justify-content: center;width:100%;}
.start_check_container{display: flex;gap:0.4rem;font-size:1.4rem;font-weight:400;}
input[id="cb1"] + label {
  display: inline-block;
  cursor: pointer;
  opacity: 0.3;
  line-height:1.2;
}
input[id="cb1"]:checked + label {
  opacity:1
}
.start2{
  margin:0 auto;
  margin-top:7rem;
  width:44rem;
  gap:4rem;
  align-items: center;
  justify-content: center;
}
.start2 > .container{display: flex;  height:calc(100vh - 7rem);flex-direction: column;justify-content: center;align-items: center;gap:4rem;width: 100%;}
.start2 img{width:80%;margin:0 auto;}
.no_email_container{font-size:1.4rem;display: flex;flex-direction: column;gap:2rem;}
.no_email_desc{opacity: 0.6;text-align: center;}
.resend_container{text-align: center;}
.resend_container a{color:#6C79F9;text-decoration: underline;cursor: pointer}

/* forgot product key */
.forgot_container{
  display: flex;
  margin:0 auto;
  margin-top:7rem;
  height:calc(100vh - 7rem);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:4rem;
}
.password{margin:0 auto;width:30%;}
.password img{width: 100%;}

@media screen and (max-width: 450px) {
  .link_character{
    width:40%;
  }
  .login{width: 100%;}
  .login .input_container{width: 100%;padding:0 2rem;box-sizing: border-box;}
  .password{margin:0 auto;width:40%;}
  .start_input{padding:2rem;}
  .start2{width:100vw;overflow-x: hidden;}
  .start2 > .container{width:100%;padding:2rem;box-sizing: border-box;}
  .email_img{width:40%;margin:0 auto;display: flex;justify-content: center;}
  .button_container{width:100%;box-sizing: border-box;}
  .button_container button{width:50%;}
  .download_container{width:100vw;}
  .download_container > .wrap{width:100%;padding:2rem;box-sizing: border-box;}
  .os_list{flex-wrap: wrap;padding:1rem;gap:2em;justify-content: flex-start;}
  .os_list li{width: 40%;}
  .download_list_radio{padding:1rem;}
}